*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*glass code*/
.myimage{
  height:100px;
  width: 100px;
}
.contact:hover{
  background: #1434A4;
  font-family: 'Inconsolata', monospace;
  border-radius: 1rem;
  padding: 0.5rem 1rem;
}

h3{
  color: #426696;
  font-weight: 600;
  opacity: 0.8;
}

h2, p{
  color: #658ec6;
  font-weight: 500;
  opacity: 0.8;
}

main{
  min-height: 100vh;
display: flex;
align-items: center;
justify-content: center;

}
.glass{
  background: white;
  min-height: 80vh;
  width: 60%;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
    );
    border-radius: 2rem;
    z-index: 1;
    backdrop-filter: blur(2rem);
    display: flex;
}

.circle1, .circle2{
  background: white;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.3)
    );
    height: 15rem;
    width: 15rem;
    position: absolute;
border-radius: 50%;
}

.circle1{
  top: 3%;
  right: 15%;

}

.circle2{
  bottom: 3%;
  left: 15%;
}

.dashboard{
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
    );
    border-radius: 2rem;
}

.link{
  display: flex;
  margin: 2rem 0;
  padding: 1rem 5rem;
  align-items: center;
}

.games{
  flex: 2;
}

.pro{
  background: linear-gradient(to right top,  #65dfc9, #6cdbeb);
  border-radius: 0.5rem;
  padding: 0 27px;

}

.btn{
  display:inline-block;
  width: 40px;
  height: 40px;
  background: #f1f1f1;
  margin: 10px;
  border-radius: 30%;
  box-shadow: 0 5px 15px -5px #00000070;
  color: #3498db;
overflow: hidden;
position: relative;
}
.btn span{
  line-height: 40px;
  font-size: 20px;
  transition: 0.2s linear;
}

.btn:hover span{
  transform: scale(1.3);
  color: #f1f1f1;
}

.btn::before{
  content: "";
  position: absolute;
  width: 120%;
  height: 120%;
  background: #3498db;
  transform: rotate(45deg);
  left: -110%;
  top: 90%;
}

.btn:hover::before{
  animation: aaa 0.7s 1;
  top: -10%;
  left: -10%;
}

@keyframes aaa {
  0%{
    top: -110%;
    left: -90%;
  }
  50%{
    top: -10%;
    left: -30%;
  }
  100%{
    top: -10%;
    left: -10%;
  }
}
}

.rightbox{
  display: flex;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 1)
    );
    border-radius: 1rem;
    box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.3);
    margin:2rem;
}

body{
background: linear-gradient(to right top,  #65dfc9, #6cdbeb);

  font-family: 'Inconsolata', monospace;
  min-height: 100vh;
}

header{
  font-size: 3rem;
color: #426696;
font-weight: 600;
opacity: 0.8;

}
header, form {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

form input, form button {
  padding: 0.5rem;
  font-size: 2rem;
  border: none;
  background: white;
}

form button {
  color: #dbff25;
  background: white;
  cursor: pointer;
  transition: all 0.2s ease;


}

form button:hover {
  color: white;
  background: blue;
}

.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
    
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 1)
    );
    border-radius: 1rem;
    box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.3);
    margin:2rem;
}

.todo-List {
  min-width: 60%;
  list-style: none;
}

.todo-input{
  margin-left: 1rem;
}

.todo {
  margin: 0.5rem;
  background: white;
  color: black;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.3 ease;
}

.todo li {
  flex: 1;
}



.trash-btn, .complete-btn {
  background: chartreuse;
  color: white;
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 1rem;
}

.complete-btn:hover {
  background: rgb(0, 207, 0);

}
.trash-btn{
  background: #ff7a55;
}

.trash-btn:hover{
  background: #fd3f0b;
}

.todo-item {
  padding: 0 0.5rem;
}

.fa-trash, .fa-check {
  pointer-events: none;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

.fall{
  transform: translateY(8rem) rotateZ(20deg);
  opacity: 0;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border:  none;

}

.select{
  margin: 1rem;
  position: relative;
  overflow: hidden;

}
select{
  color: black;
  width: 10rem;
  cursor: pointer;
  padding: 1rem;
}
.select::after{
  content: "\25BC";
  position: absolute;
  background: #ff7a55;
  top: 0;
  right: 0;
  padding: 1rem;
  pointer-events: none;
  transition: all 0.3s ease;
}

.select:hover::after{
background: white;
color: #ff7a55;
}

@media (max-width: 1000px) {
.select{
  display:none;
}

}
